<!DOCTYPE html>
<html>
<head>
  <title>Failed Authentication</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <header>
      <h1>Luka Susha's Blog</h1>
  </header>
  <div class="container">
    <h1>Authentication Failed</h1>
    <p>Invalid access token. Please try again.</p>
    <a href="/login">Back to Login</a>
  </div>
</body>
</html>
